.app {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #0f0e14;
}
.big__logo {
  text-align: center;
  margin-top: 200px;
}
.text-logo {
  border: 10px solid #fe4553;
  border-radius: 10px;
  width: 50%;
  padding: 30px;
}